/* General Styles */
body {
    background: linear-gradient(to right, white, skyblue); /* Updated background gradient */
}

.container {
    margin-top: 20px;
    font-family: Arial, sans-serif;
}

/* Cart Table Styles */
.product-details {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}

.table th {
    background-color: #17a2b8;
    color: white;
    padding: 15px;
    font-size: 18px;
}

.table td {
    padding: 15px;
    font-size: 16px;
}

.glyphicon-trash {
    font-size: 20px;
    color: #dc3545;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.glyphicon-trash:hover {
    color: #a31f2e;
}

/* Purchase Button Styles */
.btn-primary {
    font-size: 18px;
    color: white;
    background-color: #6f91b5;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    cursor: pointer;
    font-family: Arial, sans-serif;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #6a8bae;
}
.buy-now-button {
    background-color:skyblue; /* Set your desired background color */
    color: #ffffff; /* Set your desired text color */
    padding: 5px 10px; /* Adjust padding as needed */
    font-size: 16px; /* Set your desired font size */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Add a smooth transition effect */
  }

  .text-center {
    text-align: center;
  }
  
  .no-items-message {
    font-size: 2rem; /* Adjust the font size as needed */
    color: #333; /* Adjust the color as needed */
  }
