
<body>
<div class="container mt-4" *ngIf="products && products.length > 0">
  <div class="product-details">
    <h2 align="center">Cart </h2>
    <table class="table text-center table-bordered table-sm">
      <thead>
        <tr>
          <th class="bg-info text-white text-center">Product Id</th>
          <th class="bg-info text-white text-center">Product Name</th>
          <th class="bg-info text-white text-center">Price</th>
          <th class="bg-info text-white text-center">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td>{{ product.pid }}</td>
          <td>{{ product.productName }}</td>
          <td>{{ product.price }}</td>
          <td><button (click)="deleteCartProduct(product)" class="glyphicon glyphicon-trash">  </button></td>
        </tr>
        <tr>
          <td colspan="2" align="right"><b>Total</b></td>
          <td>{{ total }}</td>
        </tr>
        <tr>
          <button class="buy-now-button" (click)="payNow()">Buy Now</button>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="container mt-4" *ngIf="products && products.length === 0">
  <div class="text-center">
    <p class="display-4">No items in the cart</p>
  </div>
</div>
</body>
