<body>
  <nav class="navbar navbar-expand-lg bg-success" data-bs-theme="dark">
    <div class="container-fluid">
      <img class="navbar-brand img" src="assets\Logo2.png" style="margin-right: 10px; width: 50px;">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
        aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/shownurseries">Nurseries</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/showowners">Owners</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/showusers">Users</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/products">Products</a>
          </li>
        </ul>

        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <carousel [interval]="3000">
    <slide *ngFor="let slide of slides">
      <img [src]="slide.image" style="width:100%;">
      
    </slide>
      
  </carousel>
</body>


<footer class="footer">

  <ul class="menu">
    <li class="menu_item"><a class="menu_link" href="home">Home</a></li><br />
    <li class="menu_item"><a class="menu_link" href="about">About</a></li>
    <li class="menu_item"><a class="menu_link" href="nurseryheader">Nursery</a></li>
    <li class="menu_item"><a class="menu_link" href="contact">Contact</a></li>
  </ul>
  <p>&copy;2024 EverGreen Nursery | All Rights Reserved</p>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>