* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  margin: 0;
  color: #6a6f8c;
  background: #443f3f url('/assets/plant4.jpg') no-repeat center center fixed;
  background-size: cover;
  font: 600 16px/18px 'Open Sans', sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  font-family: Arial, sans-serif;

}

.wrapper {
  width: 400px;
  border-radius: 8px;
  padding: 30px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  font-family: Arial, sans-serif;

}

form {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;

}

h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #fff;
  font-family: Arial, sans-serif;

}

.input-field {
  position: relative;
  margin: 15px 0;
  font-family: Arial, sans-serif;

}

.input-field label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: #fff;
  font-size: 16px;
  pointer-events: none;
  transition: 0.15s ease;
  font-family: Arial, sans-serif;

}

.input-field input {
  width: 100%;
  height: 40px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  color: #fff;
  font-family: Arial, sans-serif;

}

.input-field input:focus ~ label,
.input-field input:valid ~ label {
  font-size: 0.8rem;
  top: 10px;
  transform: translateY(-120%);
  font-family: Arial, sans-serif;

}

button {
  background: #fff;
  color: #000;
  font-weight: 600;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 3px;
  font-size: 16px;
  border: 2px solid transparent;
  transition: 0.3s ease;
  font-family: Arial, sans-serif;

}

button:hover {
  color: #fff;
  border-color: #fff;
  background: rgba(255, 255, 255, 0.15);
  font-family: Arial, sans-serif;

}
