<body>
  <div class="wrapper">
    <form #userForm="ngForm" (ngSubmit)="getOtp()">
      <h2>Login Form</h2>
      <div class="input-field">
        <input type="text" name="emailId" [(ngModel)]="formModel.emailId" required>
        <label>Email Address</label>
      </div>
      <button type="submit">OTP</button>
    </form>
  
    <form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm.value)" novalidate>
      <div class="input-field">
        <input type="text" class="form-control" placeholder="Enter OTP" name="emailId" #emailId="ngModel" ngModel required>
        <label>Enter OTP</label>
      </div>
      <button type="submit">Verify OTP</button>
    </form>
  </div>
  </body>