<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>

<body>
    <div class="wrapper">
        <h2>Login</h2>
        <form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm)" novalidate>
            <div class="form-group">
                <div *ngIf="emailId.errors?.['required'] && emailId.touched" style="color: red;">Please Enter Email-Id
                </div>
                <div *ngIf="emailId.errors?.['minlength'] && emailId.touched" style="color: red;">Please Enter Atleast 2
                    Characters for EmailId</div>
                <input type="text" class="form-control" placeholder="Enter Email-Id" name="emailId" #emailId="ngModel"
                    ngModel required minlength="2" maxlength="30" />

            </div>

            <div class="form-group">
                <div *ngIf="password.errors?.['required'] && password.touched" style="color: red;">Please Enter Password
                </div>
                <div *ngIf="password.errors?.['minlength'] && password.touched" style="color: red;">Password should
                    contain one numeric ,one upper case and max length of 15</div>
                <input type="password" class="form-control" placeholder="Enter Password" name="password"
                    #password="ngModel" ngModel required minlength="2" maxlength="15" />
            </div>

            <div class="forget">
                <label for="remember">
                    <input type="checkbox" id="remember" name="remember">
                    <span>Remember me</span>
                </label>
                <a href="/forgotpassword">Forgot password?</a>
            </div>

            <div>
                <re-captcha [(ngModel)]="captchaResponse"></re-captcha>
            </div>
            <br />

            <button type="submit">Log In</button>

            <div class="register">
                <p>Don't have an account? <a href="/register1">Register</a></p>
            </div>
            <br />

            <div class="register">
                <p>Are You an Owner? <a href="/ownerregister">Register Here</a></p>
            </div>
            <br />

            <div id="google-btn"></div>
        </form>
    </div>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

</body>

</html>