@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  background-image: url('/assets/ol4.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, sans-serif;

}

.wrapper {
  width: 400px;
  border-radius: 8px;
  padding: 30px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  background: rgba(255, 255, 255, 0.1);
  margin-top: 20vh;
  font-family: Arial, sans-serif;

}

form {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;

}

h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #fff;
  font-family: Arial, sans-serif;

}

.input-field {
  position: relative;
  margin: 15px 0;
  font-family: Arial, sans-serif;

}

.input-field label {
  position: absolute;
  top: -15px;
  left: 0;
  color: #fff;
  font-size: 16px;
  pointer-events: none;
  transition: 0.15s ease;
  font-family: Arial, sans-serif;

}

.input-field input {
  width: 100%;
  height: 40px;
  background: transparent;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  font-size: 16px;
  color: #fff;
  font-family: Arial, sans-serif;

}

.input-field input:focus ~ label,
.input-field input:valid ~ label {
  font-size: 0.8rem;
  top: -25px;
  font-family: Arial, sans-serif;

}

.text-danger {
  color: #ff5454;
  margin-top: 4px;
  font-family: Arial, sans-serif;

}

.forget {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 25px 0 35px 0;
  color: #fff;
  font-family: Arial, sans-serif;

}

#remember {
  accent-color: #fff;
  font-family: Arial, sans-serif;

}

.forget label {
  display: flex;
  align-items: center;
  font-family: Arial, sans-serif;

}

.forget label p {
  margin-left: 8px;
  font-family: Arial, sans-serif;

}

.wrapper a {
  color: #efefef;
  text-decoration: none;
  font-family: Arial, sans-serif;

}

.wrapper a:hover {
  text-decoration: underline;
  font-family: Arial, sans-serif;

}

button {
  background: #fff;
  color: #000;
  font-weight: 600;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 3px;
  font-size: 16px;
  border: 2px solid transparent;
  transition: 0.3s ease;
  font-family: Arial, sans-serif;

}

button:hover {
  color: #fff;
  border-color: #fff;
  background: rgba(255, 255, 255, 0.15);
  font-family: Arial, sans-serif;

}

.login {
  text-align: center;
  margin-top: 30px;
  color: #fff;
  font-family: Arial, sans-serif;

}
.toast-info {
  background-color: red !important; 
  color: white !important;
  border-radius: 0 !important; 
  font-family: Arial, sans-serif;

}
.toast-error {
  background-color: red !important; 
  color: white !important; 
  border-radius: 0 !important; 
  font-family: Arial, sans-serif;

}