<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="shownurseries.component.css">
</head>
<nav class="navbar navbar-expand-lg bg-success" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Admin</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/shownurseries">Nurseries</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/showowners">Owners</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/showusers">Users</a>
                </li>
            </ul>

            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<h1 align="center">Nurseries Data</h1>
<br />
<body>
<div align="center" class="container table-container">
    <table class="table table-hover table-striped table-sm table-bordered">
        <thead class="table-header">
            <tr align="center">
                <th  class="bg-info text-white">NurseryId</th>
                <th  class="bg-info text-white">NurseryName</th>
                <th  class="bg-info text-white">EmailId</th>
                <th  class="bg-info text-white">Location</th>
                <th  class="bg-info text-white">OwnerId</th>
            </tr>
        </thead>
        <tbody class="table-body">
            <tr *ngFor="let nur of nurseries" align="center">
                <td>{{nur.nurseryId}}</td>
                <td>{{nur.nurseryName}}</td>
                <td>{{nur.emailId }}</td>
                <td>{{nur.location}}</td>
                <td>{{nur.owner.ownerId }}</td>
            </tr>
        </tbody>
    </table>

</div>

