h1 {
    text-align: center;
    color: #2E8B57;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;

}

.table-container {
    margin-top: 20px;
    font-family: Arial, sans-serif;

}

.table-header {
    background-color: #5bc0de;
    color: greenyellow;
    font-family: Arial, sans-serif;

}

.table-body td {
    vertical-align: middle;
    font-family: Arial, sans-serif;

}

.table-header th {
    text-align: center;
    background-color: #2E8B57;
    color: white;
    font-family: Arial, sans-serif;

}

.modal-header {
    background-color: #5bc0de;
    color: #fff;
    font-family: Arial, sans-serif;

}

.modal-title {
    font-weight: bold;
    font-family: Arial, sans-serif;

}

.modal-body table {
    width: 100%;
    font-family: Arial, sans-serif;

}

.modal-body td {
    padding: 8px;
    font-family: Arial, sans-serif;

}

.modal-footer {
    justify-content: center;
    font-family: Arial, sans-serif;

}
