<!--<app-login></app-login> -->
<!-- <app-register></app-register> -->
<!--<app-owners-header></app-owners-header> -->

<!--<app-home></app-home>-->

<!-- <app-products></app-products> -->

<!-- <app-login1></app-login1>  -->
<!-- <app-register1></app-register1> -->
<!-- <app-plants></app-plants> -->
<!-- <app-home></app-home> -->
<!-- <app-userheader></app-userheader> -->
<router-outlet></router-outlet>
<!-- <app-login1></app-login1>  -->
<!-- <app-showowners></app-showowners> -->
<!-- <app-shownurseries></app-shownurseries> -->
<!-- <app-admin-header></app-admin-header> -->
<!-- <app-nurseryregister></app-nurseryregister> -->
<!-- <app-contact></app-contact> -->
<!-- <app-nursery></app-nursery> -->
<!-- <app-addproduct></app-addproduct> -->


<!-- <app-login></app-login> -->

<!--<app-admin-header></app-admin-header>-->
<!--<app-owners-header></app-owners-header>-->

<!-- <app-register></app-register> -->
<!-- <app-admin-header></app-admin-header>
<app-owners-header></app-owners-header> -->

<!-- app.component.html -->
<!-- app.component.html -->
<!--<app-home></app-home>-->
<!-- <app-footer></app-footer> -->

<!-- app.component.html -->

<!--<div class="container">
  <router-outlet></router-outlet>
</div>-->
<!-- app.component.html -->

<!--<a routerLink="/about">About</a>-->
<!--<app-about></app-about>-->