.custom-card {
  background-color: #f8f9fa; /* Change background color as needed */
  border: 1px solid #dee2e6; /* Add border */
  border-radius: 5px; /* Add border radius */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add box shadow */
}

.custom-card:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Increase box shadow on hover */
}

.custom-card .card-img-top {
  border-top-left-radius: 5px; /* Rounded corners for the top-left of the image */
  border-top-right-radius: 5px; /* Rounded corners for the top-right of the image */
}

.custom-card .card-body {
  padding: 1.5rem; /* Add padding inside the card body */
}

.custom-card .card-title {
  font-size: 1.25rem; /* Increase card title font size */
  margin-bottom: 0.75rem; /* Add space below the card title */
}

.custom-card .card-text {
  font-size: 1rem; /* Increase card text font size */
  color: #6c757d; /* Change text color */
}

.custom-card .card-text:first-child {
  color: #495057; /* Change color of the first card text (Product Id) */
}

.custom-card .card-text:not(:first-child) {
  margin-top: 0.5rem; /* Add space between card text elements */
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.navbar-custom {
  background-color: #15d49b;
  padding-top: 10px;
  padding-bottom: 10px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav .nav-link {
  font-size: 15px;
  color: #fff;
  font-family: Arial, sans-serif;
}

.navbar-custom .nav-item {
  margin-right: 10px;
}

.navbar-custom .nav-item:last-child {
  margin-right: 0;
}

.navbar-custom .nav-item a {
  color: #fff;
  text-decoration: none;
}

.navbar-custom .nav-item a:hover {
  color: #f8f9fa;
}

.search-form {
  margin-left: auto;
}

.navbar-custom .navbar-nav.ml-auto {
  margin-left: auto;
}

.carousel {
  margin-top: 20px;
  font-family: Arial, sans-serif;

}
.navbar-brand {
  /* Add more margin to the right if needed */
  margin-left: 10px;
  font-family: Arial, sans-serif;

}
.navbar-brand img {
  width: 100px; /* Adjust the width as needed */
  height: auto; /* This will maintain the aspect ratio */
}