
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");


.about-section {
  background-color: #fdfdfd;
  overflow: hidden;
  display: flex;
  flex-direction: column; /* Updated to column layout */
  align-items: center; /* Center items horizontally */
  justify-content: flex-start; /* Align items to the top */
  font-family: Arial, sans-serif;
}

.about-image {
  width: 100%;
  max-width: 600px; /* Set a max-width for the image container */
}

.about-image img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto; /* Center the image within its container */
}

.inner-container {
  width: 50%;
  padding: 50px;
  font-family: Arial, sans-serif;
}

.inner-container h1 {
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
    font-family: Arial, sans-serif;

}

.text {
    font-size: 15px;
    color: black;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
    font-family: Arial, sans-serif;

}

.skills {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 15px;
    font-family: Arial, sans-serif;

}

@media screen and (max-width:1200px) {
    .inner-container {
        padding: 70px;
    }
}

@media screen and (max-width:1000px) {
    .about-section {
        padding: 100px 50px;
    }
    .inner-container {
        width: 100%;
    }
}

@media screen and (max-width:600px) {
    .about-section {
        padding: 0;
    }
    .inner-container {
        padding: 60px;
    }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  background: #333;
  justify-content: flex-end;
  align-items: flex-end;
  min-height: 100vh;
  font-family: Arial, sans-serif;

}

.footer {
  position: relative;
  width: 100%;
  background:#15d49b;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Arial, sans-serif;

}

.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
  font-family: Arial, sans-serif;

}

.menu__item {
  list-style: none;
  font-family: Arial, sans-serif;

}

.menu__link {
  font-size: 2.5rem;
  color:black;
  margin: 0 100px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
  font-family: Arial, sans-serif;

}

.menu__link:hover {
  opacity: 1;
  font-family: Arial, sans-serif;

}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
  font-family: Arial, sans-serif;

}





@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-position-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-position-x: 0px;
  }
}

/* Add your existing CSS styles here */

/* Navbar styles */
.navbar-custom {
  background-color: #15d49b;
  padding-top: 10px;
  padding-bottom: 10px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-brand {
  margin-left: 100px;

}

.navbar-logo {
  width: 100px;
  height: auto;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav .nav-link {
  font-size: 15px;
  color: #fff;
}

.navbar-custom .nav-item {
  margin-right: 10px;
}

.navbar-custom .nav-item:last-child {
  margin-right: 0;
}

.navbar-custom .nav-item a {
  color: #fff;
  text-decoration: none;
}

.navbar-custom .nav-item a:hover {
  color: #f8f9fa;
}

/* About section styles (your existing styles) */

/* Footer styles */
.footer {
  background: #15d49b;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.menu_item {
  list-style: none;
}

.menu_link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px; /* Adjust the margin as needed */
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}


.menu_link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

/* Add any additional styles as needed */
.navbar-brand {
  /* Add more margin to the right if needed */
  margin-left: 10px;
  font-family: Arial, sans-serif;

}
.navbar-brand img {
  width: 100px; /* Adjust the width as needed */
  height: auto; /* This will maintain the aspect ratio */
}
.about-page-content {
    position: relative;
}

.image-overlay {
    position: relative;
    display: inline-block;
}

.plantation-image {
    display: block;
    max-width: 100%;
    height: auto;
}

.about-text {
    position: absolute;
    top: 20px; /* Adjust as needed */
    left: 20px; /* Adjust as needed */
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 80%;
}


.contact-info {
    position: absolute;
    bottom: 20px; /* Adjust as needed */
    right: 20px; /* Adjust as needed */
    background-color: rgba(255, 255, 255, 0.7);
    padding: 80px;


    display: flex;
}

.contact-left {
    margin-right: 20px;
}
.Adress{
    position: absolute;
    bottom: 20px; /* Adjust as needed */
    left: 33%;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 40px;
    display: flex;
}
.Adress-center{
    margin-top: 190px;
}


.social-icon {
    font-size: 24px;
    margin-right: 10px;
    color: #9b2222; /* Adjust icon color */
    text-decoration: none;
}

.footer-icons {
    position: absolute;
    bottom: 20px; /* Adjust as needed */
    right: 20px; /* Adjust as needed */
}