<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

<nav class="navbar navbar-expand-lg navbar-light navbar-custom">
    <div class="container">
        <img class="navbar-brand img" src="assets\Logo2.png" style="margin-right: 10px; width: 50px;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link"  routerLink="home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  routerLink="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  routerLink="/plant">Plants</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  routerLink="/pot">Pots</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  routerLink="/soil">Soil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  routerLink="/pesticide">Pesticides</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  routerLink="/fertilizer">Fertilizers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  routerLink="/tool">Tools</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  routerLink="/seed">Seeds</a>
                </li>.
                <li class="nav-item">
                    <a class="nav-link"  routerLink="/products">Products</a>
                </li>

                <br /><br />

            </ul>

            
        </div>
    </div>
</nav>




<body>
    <div class="about-section">
        <div class="about-image">
            <img src="assets/images/A1.jpg" alt="Image 1" style="width: 100%;">
        </div>
        <div class="inner-container">
            <h1>About Us</h1>
            <p class="text">
                <strong>About Evergreen Nursery</strong><br>
                At Evergreen Nursery, we pride ourselves on being your ultimate destination for all things green. With
                multiple nurseries spread across the country, we are dedicated to bringing nature closer to you. Our
                passion for plants, pots, fertilizers, and everything in between drives us to provide unparalleled
                service and products to our customers.
            </p>
            <p class="text">
                <strong>Our Mission</strong><br>
                Our mission at Evergreen Nursery is simple yet profound: to cultivate a greener, healthier world, one
                plant at a time. We believe that every leaf, every flower, and every tree has the power to transform
                spaces, uplift spirits, and contribute to a sustainable ecosystem. Through our nurseries and products,
                we aim to inspire and empower individuals to embrace the beauty and benefits of nature in their lives.
            </p>
            <p class="text">
                <strong>Our Nurseries</strong><br>
                With a network of nurseries strategically located across the region, Evergreen Nursery offers a diverse
                range of plants and greenery to suit every need and preference. Whether you're searching for vibrant
                flowering plants to adorn your garden, lush indoor foliage to brighten your home, or sturdy outdoor
                trees to enhance your landscape, our nurseries have got you covered.
            </p>
            <p class="text">
                <strong>Our Products</strong><br>
                In addition to an extensive selection of plants, Evergreen Nursery offers a wide array of products to
                support your gardening endeavors. From premium quality pots and planters in various styles and sizes to
                nutrient-rich fertilizers and soil amendments, we provide everything you need to nurture your green
                companions and help them thrive.
            </p>
            <p class="text">
                <strong>Our Commitment</strong><br>
                At Evergreen Nursery, we are committed to excellence in everything we do. From sourcing the finest plant
                specimens to delivering exceptional customer service, we prioritize quality, integrity, and
                sustainability. Our knowledgeable staff members are passionate about plants and are always ready to
                assist you with expert advice, tips, and recommendations.
            </p>
            <p class="text">
                <strong>Get in Touch</strong><br>
                Ready to embark on your green journey with Evergreen Nursery? Visit us at one of our nurseries or
                explore our online store to discover the endless possibilities that nature has to offer. Join us in our
                mission to make the world a greener, more beautiful place, one plant at a time.
            </p>
        </div>
    </div>
</body>
<footer class="footer">

    <ul class="menu">
        <li class="menu_item"><a class="menu_link" href="home">Home</a></li><br />
        <li class="menu_item"><a class="menu_link" href="about">About</a></li>
        <li class="menu_item"><a class="menu_link" href="nursery">Nursery</a></li>
        <li class="menu_item"><a class="menu_link" href="contact">Contact</a></li>
    </ul>
    <p>&copy;2024 EverGreen Nursery | All Rights Reserved</p>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
