/* Navbar styles */
.navbar-custom {
  background-color: #15d49b;
  padding-top: 10px;
  padding-bottom: 10px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-brand {
  margin-left: 10px; /* Adjust margin as needed */
}

.navbar-brand img {
  width: 50px; /* Adjust the width as needed */
  height: auto; /* This will maintain the aspect ratio */
  margin-right: 10px; /* Adjust margin as needed */
}

.navbar-toggler {
  margin-right: 10px; /* Adjust margin as needed */
}

/* Your existing styles for the footer */
.footer {
  background: #15d49b;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.menu_item {
  list-style: none;
}

.menu_link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px; /* Adjust the margin as needed */
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu_link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}
