<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

<nav class="navbar navbar-expand-lg navbar-light navbar-custom">
    <div class="container">
        <img class="navbar-brand img" src="assets\Logo2.png" style="margin-right: 10px; width: 50px;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/home">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/plant">Plants</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/pot">Pots</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/soil">Soil</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/pesticide">Pesticides</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/fertilizer">Fertilizers</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/tool">Tools</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/seed">Seeds</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/products">Products</a>
                </li>

                <br /><br />
            </ul>
        </div>
    </div>
</nav>

<body>
    
        <img src="/assets/images/nursery1.jpg"   alt="Nursery Plant Image"  style="width: 200%; max-width: 1300px; height: auto;"/>

  
    <div class="container">
        <h2>About Our Nursery</h2>
        <p>They propagate plant material or buy plants from other nurseries which may include rooted or unrooted
            cuttings,
            or small rooted plants called plugs, or field grown bare root plants, which are planted and grown to a
            desired size.
            Some wholesale nurseries produce plants on contract for others which place an order for a specific number
            and size of plant,
            while others produce a wide range of plants that are offered for sale to other nurseries and landscapers and
            sold as first come first served.
            Retail nurseries sell plants ready to be placed in the landscape or used in homes and businesses</p>
        <h2>Contact Us</h2>
        <p>Email: mounikamouni8311</p>
        <p>Phone: +919390567983</p>
    </div>
</body>
<footer class="footer">

    <ul class="menu">
        <li class="menu_item"><a class="menu_link" href="/home">Home</a></li><br />
        <li class="menu_item"><a class="menu_link" href="/about">About</a></li>
        <li class="menu_item"><a class="menu_link" href="/nurseryheader">Nursery</a></li>
        <li class="menu_item"><a class="menu_link" href="/contact">Contact</a></li>
    </ul>
    <p>&copy;2024 EverGreen Nursery | All Rights Reserved</p>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>