.product-details {
    padding: 20px;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .product-details h3 {
    color: #343a40;
  }
  
  .product-details hr {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  
  .product-details p {
    color: black;
    align-content: center;
  }
  
  .buttons {
    margin-top: 20px;
  }
  
  .font-size-large {
    font-size: 1.5rem; /* Adjust the value as needed */
  }
  
  .font-size-medium {
    font-size: 1.5rem; /* Adjust the value as needed */
  }
  
  /* productinfo.component.css */
  
  .buy-now-button {
    background-color:skyblue; /* Set your desired background color */
    color: #ffffff; /* Set your desired text color */
    padding: 5px 10px; /* Adjust padding as needed */
    font-size: 16px; /* Set your desired font size */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Add a smooth transition effect */
  }
  
  .buy-now-button:hover {
    background-color: white; /* Change background color on hover */
  }
  
  