<body style="background: linear-gradient(to right,white ,lightblue);">

  <div class="container mt-4" *ngIf="!loading && !error">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center">
        <div class="product-image">
          <img [src]="'assets/images/' + selectedNursery.imageName" alt="{{ selectedNursery.NurseryName }}"
            class="img-fluid rounded" style="max-height: 300px;">
        </div>
      </div>
    </div>
    <div class="row mt-3 justify-content-center">
      <div class="col-md-6">
        <div class="product-details">
          <h3 class="text-center mb-3">Nurseries</h3>
          <hr>
          <div class="details-content">
            <h5 class="font-size-large">NurseryName: {{ selectedNursery.nurseryName }}</h5>
            <p class="mb-2 font-size-medium">Nursery Id: {{selectedNursery.nurseryId}}</p>
            <p class="mb-2 font-size-medium">Location: {{ selectedNursery.location }}</p>
            <p class="mb-2 font-size-medium">EmailId: {{ selectedNursery.emailId }}</p>
            <p class="mb-2 font-size-medium">PhoneNumber: {{ selectedNursery.phoneNumber }}</p>
            <p class="mb-2 font-size-medium">OwnerId: {{ selectedNursery.owner.ownerId }}</p>

          </div>
          <hr>

        </div>
      </div>
    </div>
  </div>

<div class="row mt-3 justify-content-center" *ngIf="!loading && !error">
  <div class="col-md-12">
    <div class="product-details">
      <h3 class="text-center mb-3">Products Related to {{ selectedNursery.nurseryName }}</h3>
      <hr>

      <div class="row">
        <div class="col-md-4" *ngFor="let product of nurseryProducts">
          <div class="card mb-3">
            <div class="card-body">
              <div class="product-image">
                <img [src]="'assets/images/' + product.imageName" alt="{{ product.ProductName }}"
                  class="img-fluid rounded" style="max-height: 300px;">
              </div>
              <h5 class="card-title">{{ product.productName }}</h5>
              <p class="card-text">Price: {{ product.price }}</p>
              <p class="card-text">ProductId: {{ product.pid }}</p>
              <a [routerLink]="['/productinfo', product.productName || product.pid]" class="btn btn-primary">Show Products</a>

            </div>
          </div>
        </div>
      </div>

      <hr>
    </div>
  </div>
</div>

</body>