<body>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <nav class="navbar navbar-expand-lg navbar-light navbar-custom">
        <div class="container">
            <img class="navbar-brand img" src="assets\Logo2.png" style="margin-right: 10px; width: 50px;">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                 aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/plant">Plants</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/pot">Pots</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/soil">Soil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/pesticide">Pesticides</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/fertilizer">Fertilizers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/tool">Tools</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/seed">Seeds</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/products">All</a>
                    </li>
                    &nbsp;
                    <li>
                        <form class="form-inline ml-auto">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
                                [(ngModel)]="searchQuery" name="searchQuery">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="button"
                                (click)="search()">Search</button>
                        </form>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">

                    <li class="nav-item">
                        <a class="nav-link" [class.disabled]="loginStatus" routerLink="/login1">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <carousel [interval]="3000">
        <slide *ngFor="let slide of slides">
          <img [src]="slide.image" style="width:100%;">
          <div class="carousel-caption">
          </div>
        </slide>
      </carousel>
      
      <div class="faq-header">Frequently Asked Questions</div>
      
      <div class="faq-content">
        <div *ngFor="let faq of faqs" class="faq-question">
          <div class="panel-title" (click)="toggleAnswer(faq)">
            {{ faq.questions }}
            <span class="plus" [class.open]="faq === activeFaq">+</span>
          </div>
          <div class="panel-content" [class.open]="faq === activeFaq">
            {{ faq.answers }}
          </div>
        </div>
      </div>
      





    <div style="height: 50px;"></div> <!-- Add space with a div having height -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

<footer class="footer">
    <ul class="menu">
        <li class="menu_item"><a class="menu_link" href="home">Home</a></li><br />
        <li class="menu_item"><a class="menu_link" href="/about">About</a></li>
        <li class="menu_item"><a class="menu_link" href="/nursery">Nursery</a></li>
        <li class="menu_item"><a class="menu_link" href="/contact">Contact</a></li>
    </ul>
    <p>&copy;2024 EverGreen Nursery | All Rights Reserved</p>
</footer>
