@import url(https://fonts.googleapis.com/css?family=Raleway);

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.navbar-custom {
    background-color: #15d49b;
    padding-top: 10px;
    padding-bottom: 10px;
    position: sticky;
    top: 0;
    z-index: 1000;
    font-family: Arial, sans-serif;

}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav .nav-link {
    font-size: 14px;
    color: #fff;
    font-family: Arial, sans-serif;
}

.navbar-custom .nav-item {
    margin-right: 5px;
    font-family: Arial, sans-serif;

}

.navbar-custom .nav-item:last-child {
    margin-right: 5px;
    font-family: Arial, sans-serif;

}

.navbar-custom .nav-item a {
    color: #fff;
    text-decoration: none;
    font-family: Arial, sans-serif;

}

.navbar-custom .nav-item a:hover {
    color: #f8f9fa;
    font-family: Arial, sans-serif;

}

.search-form {
    margin-left: auto;
    font-family: Arial, sans-serif;

}

.navbar-custom .navbar-nav.ml-auto {
    margin-left: auto;
    font-family: Arial, sans-serif;

}

.carousel {
    margin-top: 20px;
    font-family: Arial, sans-serif;

}

.navbar-brand {
    /* Add more margin to the right if needed */
    margin-left: 10px;
    font-family: Arial, sans-serif;

}

.navbar-brand img {
    /* Adjust the width as needed */
    /* Let the height adjust automatically to maintain aspect ratio */
    font-family: Arial, sans-serif;

}


.card {
    border: 1px solid #dee2e6;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;

}

.card-header {
    background-color: #f8f9fa;
    border-radius: 8px;
    font-family: Arial, sans-serif;

}

.card-body.answer-text {
    font-size: 16px;
    /* Increase answer text font size */
    padding: 15px;
    font-family: Arial, sans-serif;

}

.btn-link.collapsed::after {
    content: "-";
    float: right;
    font-size: 16px;
    color: #007bff;
    font-family: Arial, sans-serif;

}

.btn-link::after {
    content: none;
    float: right;
    font-size: 16px;
    color: #007bff;
    font-family: Arial, sans-serif;

}

/* .collapse {
    animation-duration: 100ms;
} */

/* Remove the collapsed state pseudo-element for the button */


/* Add your custom styles for product items if needed */
.product-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    font-family: Arial, sans-serif;

}

/* Styles for the filter container */
.filter-container {
    position: right;
    left: 0;
    top: 0;
    width: 200px;
    /* Adjust the width as needed */
    height: 100%;
    /* Set the height to 100% to cover the entire height of the page */
    background-color: #f8f9fa;
    /* Background color for the filter section */
    padding: 20px;
    /* Add padding for spacing */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Add a shadow for depth */
    font-family: Arial, sans-serif;

}

/* Styles for the filter wrapper */
.filter-wrapper {
    display: right;
    flex-direction: column;
    gap: 20px;
    /* Add gap between filter elements */
    font-family: Arial, sans-serif;

}

/* Styles for individual filter elements */
.filter-wrapper>div {
    border-bottom: 1px solid #ccc;
    /* Add a border between filter sections */
    padding-bottom: 10px;
    /* Add padding at the bottom of each filter section */
    font-family: Arial, sans-serif;

}

/* Styles for filter headings */
.filter-wrapper h3 {
    margin-bottom: 10px;
    /* Add margin at the bottom of each heading */
    font-size: 16px;
    /* Adjust the font size as needed */
    color: #333;
    /* Set the color for the headings */
    font-family: Arial, sans-serif;

}

/* Styles for select and input elements */
.filter-wrapper select,
.filter-wrapper input {
    width: 100%;
    /* Set the width to fill the container */
    padding: 5px;
    /* Add padding for spacing */
    font-size: 14px;
    /* Adjust the font size as needed */
    font-family: Arial, sans-serif;

}

/* Add additional styles as needed */
.footer {
    background: #15d49b;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

.menu_item {
    list-style: none;
}

.menu_link {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 10px;
    /* Adjust the margin as needed */
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
}


.menu_link:hover {
    opacity: 1;
}

.footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
}

.faq-header {
    font-size: 24px;
    border-bottom: 1px dotted greenyellow;
    padding: 24px;
    align-content:center;
}

.faq-content {
    margin: 0 auto;
    margin-left: 20px;
}

.faq-question {
    padding: 10px 0;
    border-bottom: 1px dotted #ccc;
    cursor: pointer;
    font-size: 16px;
    /* Decrease question font size */

}

.panel-title {
    font-size: 18px;
    position: relative;
}

.panel-content {
    font-size: 24px;
    padding: 14px;
    height: 0;
    overflow: hidden;
    transition: height 0.4s ease;
    display: none;
}

.panel-content.open {
    max-height: 1000px;
    height: auto;
    display: block;
}

.panel-title:hover {
    color: #007bff;
}

.plus {
    position: absolute;
    margin-left: 20px;
    font-size: 24px;
    line-height: 100%;
    transition: transform 0.2s ease;
}

.plus.open {
    transform: rotate(45deg);
}

/* Add this to your existing CSS */
.panel-content {
    font-size: 16px;
    padding: 14px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
    display: none;
    /* Initially hide content */
}

.panel-content.open {
    max-height: 1000px;
    /* Set a sufficiently large max-height to show the content */
    display: block;
    /* Display content when open */
    font-size: 16px;

}
