<body>
    <nav class="navbar navbar-expand-lg navbar-light navbar-custom">
        <div class="container">
            <img class="navbar-brand img" src="assets\Logo2.png" style="margin-right: 10px; width: 50px;">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" routerLink="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/plant">Plants</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/pot">Pots</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/soil">Soil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/pesticide">Pesticides</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/fertilizer">Fertilizers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/tool">Tools</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/seed">Seeds</a>
                    </li>.
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/products">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/nursery">Nurseries</a>
                    </li>
                    <li>
                        <form class="form-inline ml-auto">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
                                [(ngModel)]="searchQuery" name="searchQuery">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="button"
                                (click)="search()">Search</button>
                        </form>
                    </li>
                    <br /><br />

                </ul>

                <ul class="navbar-nav ml-auto">
                    <!-- <li class="nav-item">
                        <a class="nav-link" [class.disabled]="!loginStatus" routerLink="logout">Logout</a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/cart">Cart ({{ cartItemCount }})</a>
                      </li>
                    <li class="nav-item">
                        <a class="nav-link" [class.disabled]="loginStatus" routerLink="/home">Logout</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <carousel [interval]="3000">
        <slide *ngFor="let slide of slides">
            <img [src]="slide.image" style="width:100%;">
            
        </slide>
    </carousel>
<hr>
<br/>
<br/>
<div class="row">
    <div class="col-md-6">
      <div class="card" style="width: 100%;">
        <a routerLink="/nursery">
          <img src="assets/images/N1.jpg" class="card-img-top" alt="Description of the image">
          <div class="card-body">
            <h5 class="card-title">Nurseries</h5>
          </div>
        </a>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card" style="width: 100%;">
        <a routerLink="/products">
          <img src="assets/images/p9.jpg" class="card-img-top" alt="Description of the image">
          <div class="card-body">
            <h5 class="card-title">Products</h5>
          </div>
        </a>
      </div>
    </div>
  </div>
<br/>

    <footer class="footer">

        <ul class="menu">
            <li class="menu_item"><a class="menu_link" routerLink="/home">Home</a></li><br />
            <li class="menu_item"><a class="menu_link" routerLink="/about">About</a></li>
            <li class="menu_item"><a class="menu_link" routerLink="/nursery">Nursery</a></li>
            <li class="menu_item"><a class="menu_link" routerLink="/contact">Contact</a></li>
        </ul>
        <p>&copy;2024 EverGreen Nursery | All Rights Reserved</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>