body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.navbar-custom {
    background-color: #15d49b;
    padding-top: 10px;
    padding-bottom: 10px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav .nav-link {
    font-size: 15px;
    color: #fff;
    font-family: Arial, sans-serif;
}

.navbar-custom .nav-item {
    margin-right: 10px;
}

.navbar-custom .nav-item:last-child {
    margin-right: 0;
}

.navbar-custom .nav-item a {
    color: #fff;
    text-decoration: none;
}

.navbar-custom .nav-item a:hover {
    color: #f8f9fa;
}

.search-form {
    margin-left: auto;
}

.navbar-custom .navbar-nav.ml-auto {
    margin-left: auto;
}

.carousel {
    margin-top: 20px;
    font-family: Arial, sans-serif;

}
.navbar-brand {
    /* Add more margin to the right if needed */
    margin-left: 10px;
    font-family: Arial, sans-serif;

}
.navbar-brand img {
    width: 100px; /* Adjust the width as needed */
    height: auto; /* This will maintain the aspect ratio */
}

.footer {
    background:white;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }
  
  .menu_item {
    list-style: none;
  }
  
  .menu_link {
    font-size: 1.2rem;
    color: green;
    margin: 0 10px; /* Adjust the margin as needed */
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
  }
  
  
  .menu_link:hover {
    opacity: 1;
  }
  
  .footer p {
    color:green;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
  }
  .card {
    border: 1px solid #ddd; /* Add a border */
    border-radius: 10px; /* Add border-radius for rounded corners */
    overflow: hidden; /* Hide any content that overflows the card */
    transition: transform 0.3s; /* Add a smooth transition effect */
  }

  .card:hover {
    transform: scale(1.05); /* Scale the card slightly on hover */
  }

  .card-img-top {
    max-height: 200px; /* Set max height for the image */
    object-fit: cover; /* Ensure the image covers the entire container */
  }

  .card-title {
    margin-top: 10px; /* Add some top margin to the card title */
    align-items: center;
  }