<body>
    <div class="product-form">
        <h2 class="text-center mb-4">Add Product</h2>
        <form (ngSubmit)="submitProductForm()" #productForm="ngForm">

            <div class="form-group">
                <label for="productName">Product Name:</label>
                <input type="text" id="productName" name="productName" [(ngModel)]="product.productName" required>
            </div>

            <div class="form-group">
                <label for="price">Price:</label>
                <input type="number" id="price" name="price" [(ngModel)]="product.price" required>
            </div>

            <div class="form-group">
                <label for="specifications">Specifications:</label>
                <textarea id="specifications" name="specifications" [(ngModel)]="product.specifications"
                    required></textarea>
            </div>

            <div class="form-group">
                <label for="category">Category:</label>
                <input type="text" id="category" name="category" [(ngModel)]="product.category" required>
            </div>

            <div class="form-group">
                <label for="type">Type:</label>
                <input type="text" id="type" name="type" [(ngModel)]="product.type" required>
            </div>

            <div class="form-group">
                <label for="imageName">Image Name:</label>
                <input type="text" id="imageName" name="imageName" [(ngModel)]="product.imageName" required>
            </div>

            <div class="form-group">
                <label for="nurseryId">Nursery Id:</label>
                <input type="text" id="nurseryId" name="nurseryId" [(ngModel)]="product.nurseryId" required>
            </div>

            <div class="form-group">
                <label for="description">Description:</label>
                <textarea id="description" name="description" [(ngModel)]="product.description" required></textarea>
            </div>

            <button type="submit" [disabled]="!productForm.valid">Add Product</button>
        </form>
    </div>
</body>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>