body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.navbar-custom {
    background-color: #15d49b;
    padding-top: 10px;
    padding-bottom: 10px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav .nav-link {
    font-size: 15px;
    color: #fff;
    font-family: Arial, sans-serif;
}

.navbar-custom .nav-item {
    margin-right: 10px;
}

.navbar-custom .nav-item:last-child {
    margin-right: 0;
}

.navbar-custom .nav-item a {
    color: #fff;
    text-decoration: none;
}

.navbar-custom .nav-item a:hover {
    color: #f8f9fa;
}

.search-form {
    margin-left: auto;
}

.navbar-custom .navbar-nav.ml-auto {
    margin-left: auto;
}

.carousel {
    margin-top: 20px;
    font-family: Arial, sans-serif;

}
.navbar-brand {
    /* Add more margin to the right if needed */
    margin-left: 10px;
    font-family: Arial, sans-serif;

}
.navbar-brand img {
    width: 100px; /* Adjust the width as needed */
    height: auto; /* This will maintain the aspect ratio */
}