

<nav class="navbar navbar-expand-lg navbar-light navbar-custom">
    <div class="container">
        <img class="navbar-brand img" src="assets\Logo2.png" style="margin-right: 10px; width: 50px;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/plant">Plants</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/pot">Pots</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/soil">Soil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/pesticide">Pesticides</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/fertilizer">Fertilizers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/tool">Tools</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/seed">Seeds</a>
                </li>.
                <li class="nav-item">
                    <a class="nav-link" routerLink="/products">Products</a>
                </li>
                <li>
            </ul>
        </div></div>
        </nav>

<body style="background-color:ivory;">

<div class="container">
    <div class="row">
      <div class="col-md-4" *ngFor="let fertilizer of fertilizers">
        <div class="card mb-3">
          <img [src]="'assets/images/' + fertilizer.imageName" class="card-img-top" alt="{{ fertilizer.productName }}">
          <div class="card-body">
            <h5 class="card-title">{{ fertilizer.productName }}</h5>
            <p class="card-text">Product Id: {{ fertilizer.pid }}</p>
            <p class="card-text">Price: {{ fertilizer.price }}</p>
            <p class="card-text">Description: {{ fertilizer.description }}</p>
          
            <a [routerLink]="['/productinfo', fertilizer.productName]" class="btn btn-primary">Show More</a>

          </div>
        </div>
      </div>
    </div>
  </div>
</body>