h1 {
    text-align: center;
    color: #2E8B57; 
    margin-top: 20px; 
    margin-bottom: 20px; 
    font-family: Arial, sans-serif;

}.table-container {
    margin-top: 20px;
}

.table-header {
    background-color:  #2E8B57; /* Changed to green */
    color: greenyellow;
    text-align: center; /* Align text in the center */
    font-family: Arial, sans-serif;

}

.table-header th {
    text-align: center; /* Align text in the center */
    background-color: #2E8B57; /* Changed to green */
    color: white;
    font-family: Arial, sans-serif;

}


.table-body td {
    vertical-align: middle;
    font-family: Arial, sans-serif;

}



.modal-header {
    background-color: #5bc0de;
    color: #fff;
    font-family: Arial, sans-serif;

}

.modal-title {
    font-weight: bold;
    font-family: Arial, sans-serif;

}

.modal-body table {
    width: 100%;
    font-family: Arial, sans-serif;

}

.modal-body td {
    padding: 8px;
    font-family: Arial, sans-serif;

}

.modal-footer {
    justify-content: center;
    font-family: Arial, sans-serif;

}