<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<nav class="navbar navbar-expand-lg bg-success" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Admin</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
      aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/shownurseries">Nurseries</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/showowners">Owners</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/showusers">Users</a>
        </li>
      </ul>

      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Logout</a>
        </li>
      </ul>
    </div>
  </div></nav>
<h1 class="text-center">User Data</h1>

<div class="container table-container">
  <table class="table table-hover table-striped table-bordered">
    <thead>
      <tr>
        <th class="bg-info text-white">User ID</th>
        <th class="bg-info text-white">User Name</th>
        <th class="bg-info text-white">Email</th>
        <th class="bg-info text-white">Location</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.userId }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.emailId }}</td>
        <td>{{ user.location }}</td>
      </tr>
    </tbody>
  </table>
</div>

