<!-- ownerregister.component.html -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registration Form</title>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;500;600;700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>

<body>
  <div class="wrapper">
    <h2>Register</h2>
    <form (ngSubmit)="submitRegistrationForm()" #registrationForm="ngForm">
      <div class="input-field">
        <input type="text" name="name" [(ngModel)]="owner.name" placeholder="OwnerName" required>
        <div *ngIf="registrationForm.controls['name']?.touched && registrationForm.controls['name']?.errors?.['required']"
          class="text-danger">OwnerName is required.</div>
      </div>

      <div class="input-field">
        <input type="text" name="emailId" [(ngModel)]="owner.emailId" placeholder="Email" required email>
        <div *ngIf="registrationForm.controls['emailId']?.touched && registrationForm.controls['emailId']?.errors?.['required']"
          class="text-danger">Email is required.</div>
        <div *ngIf="registrationForm.controls['emailId']?.touched && registrationForm.controls['emailId']?.errors?.['email']"
          class="text-danger">Invalid email format.</div>
      </div>

      <div class="input-field">
        <input type="password" name="password" [(ngModel)]="owner.password" placeholder="Password" required minlength="6" maxlength="20">
        <div *ngIf="registrationForm.controls['password']?.touched && registrationForm.controls['password']?.errors?.['required']"
          class="text-danger">Password is required.</div>
        <div *ngIf="registrationForm.controls['password']?.touched && registrationForm.controls['password']?.errors?.['minlength']"
          class="text-danger">Password must be at least 6 characters long.</div>
      </div>

      <div class="input-field">
        <input type="password" name="confirmPassword" [(ngModel)]="owner.confirmPassword" placeholder="Confirm Password" required>
        <div *ngIf="registrationForm.controls['confirmPassword']?.touched && registrationForm.controls['confirmPassword']?.errors?.['required']"
          class="text-danger">Confirm password is required.</div>
        <div *ngIf="registrationForm.controls['confirmPassword']?.touched && owner.password !== owner.confirmPassword"
          class="text-danger">Passwords do not match.</div>
      </div>

      <div class="input-field">
        <input type="text" name="location" [(ngModel)]="owner.location" placeholder="Location" required>
        <div *ngIf="registrationForm.controls['location']?.touched && registrationForm.controls['location']?.errors?.['required']"
          class="text-danger">Location is required.</div>
      </div>

      <div class="input-field">
        <input type="text" name="phoneNumber" [(ngModel)]="owner.phoneNumber" placeholder="PhoneNumber" required pattern="^(\+91)?[6-9]{1}[0-9]{9}$">
        <div *ngIf="registrationForm.controls['phoneNumber']?.touched && registrationForm.controls['phoneNumber']?.errors?.['required']"
          class="text-danger">Phone Number is required.</div>
        <div *ngIf="registrationForm.controls['phoneNumber']?.touched && registrationForm.controls['phoneNumber']?.errors?.['pattern']"
          class="text-danger">Phone number should start with +91 followed by 10 digits.</div>
      </div>

      <div class="forget">
        <label for="remember">
          <input type="checkbox" name="remember" [(ngModel)]="owner.remember">
          <span>Remember me</span>
        </label>
      </div>

      
      <br />

      <button type="submit">Register</button>

      <div class="login">
        <p>Already have an account? <a href="/ownerlogin">Log In</a></p>
      </div>
    </form>
  </div>
</body>

</html>
