<body style="background: linear-gradient(to right,white ,lightblue);">
  <div class="container mt-4" *ngIf="!loading && !error">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center">
        <div class="product-image">
          <img [src]="'assets/images/' + selectedProduct.imageName" alt="{{ selectedProduct.productName }}"
            class="img-fluid rounded" style="max-height: 300px;">
        </div>
      </div>
    </div>
    <div class="row mt-3 justify-content-center">
      <div class="col-md-6">
        <div class="product-details">
          <h3 class="text-center mb-3">Product Details</h3>

          <hr>
          <div class="details-content">
            <h5 class="font-size-large">ProductName: {{ selectedProduct.productName }}</h5>
            <p class="mb-2 font-size-medium">Product Id: {{selectedProduct.pid}}</p>
            <p class="mb-2 font-size-medium">Price: {{ selectedProduct.price }}</p>
            <p class="mb-2 font-size-medium">Description: {{ selectedProduct.description }}</p>
            <p class="mb-2 font-size-medium">Specifications: {{ selectedProduct.specifications }}</p>
            <p class="mb-2 font-size-medium">Type: {{ selectedProduct.type }}</p>
          </div>

          <hr>
          <div class="buttons text-center">
            <button class="btn btn-primary" (click)="addToCart(selectedProduct)">Add to Cart</button>

          </div>
          <button class="buy-now-button" (click)="payNow()">Buy Now</button>
        </div>
      </div>
    </div>
  </div>
</body>