<body>
  <div class="wrapper">
    <form #regForm="ngForm" (ngSubmit)="passwordChanged(regForm.value)" novalidate>
      <h2>Password</h2>
      <div class="input-field">
        <input type="text" name="emailId" [value]="emailId" placeholder="EmailId" readonly/>
      </div>
      <div class="input-field">
        <input type="password" name="password" [value]="password" placeholder="Password">
      </div>
      <button type="submit">Submit</button>
    </form>
  </div>
</body>
