<body>
    <nav class="navbar navbar-expand-lg navbar-light navbar-custom">
        <div class="container">
            <img class="navbar-brand img" src="assets\Logo2.png" style="margin-right: 10px; width: 50px;">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="/addproduct"> Add Products</a>
                    </li>

                    <!-- <li class="nav-item">
                        <a class="nav-link" href="/nurseryregister">NurseryRegister</a>
                    </li> -->
                </ul>
                <ul class="navbar-nav ml-auto">
                    <!-- <li class="nav-item">
                        <a class="nav-link" [class.disabled]="!loginStatus" routerLink="logout">Logout</a>
                    </li> -->

                    <li class="nav-item">
                        <a class="nav-link" [class.disabled]="loginStatus" routerLink="/home">Logout</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
   <!-- owners-header.component.html -->

<carousel [interval]="3000">
    <slide *ngFor="let slide of slides">
        <img [src]="slide.image" style="width:100%;">
       
    </slide>
</carousel>
